/* Confirmation page */
.confirmation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin: var(--body-medium);
}

.confirmation__order {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto) 1fr repeat(2, auto) 1fr repeat(2, auto);
}

.confirmation__order__heading {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: 1em;
    font-size: var(--heading-small);
}

.confirmation__order__product-heading1 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.confirmation__order__img1 {
    max-width: 40%;
    grid-column: 1;
    grid-row: 3;
}

.confirmation__order__price1 {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    justify-self: end;
}

.confirmation__order__devider1 {
    grid-column: 1 / span 3;
    grid-row: 4;
}

.confirmation__order__product-heading2 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.confirmation__order__img2 {
    max-width: 40%;
    grid-column: 1;
    grid-row: 6;
}

.confirmation__order__price2 {
    grid-column: 3;
    grid-row: 6;
    align-self: end;
    justify-self: end;
}

.confirmation__order__devider2 {
    grid-column: 1 / span 3;
    grid-row: 7;
}

.confirmation__order__total-heading {
    grid-column: 1 / span 2;
    grid-row: 8;
    align-self: end;
}

.confirmation__order__total-price {
    grid-column: 3;
    grid-row: 8;
    align-self: end;
    justify-self: end;
}

.section-divider {
    border-bottom: 1px solid var(--devider-color);
    margin: var(--margin-small)
}


/* Chosen shipping*/
.confirmation__order__shipping {
    align-self: center;
}

.confirmation__order__shipping__heading {
    text-align: left;
}

/* Confirmation page CTA */
.confirmation__order__cta {
    align-self: center;
}

@media (min-width: 600px) {


    /* Confirmation page */
    .confirmation {
        display: grid;
        grid-template-columns: auto 50vw;
        grid-template-rows: auto auto auto auto;
        column-gap: 2em;
        margin: var(--margin-large);
        grid-template-areas:
            'confirmation-order confirmation-cta'
            'confirmation-devider1 confirmation-cta'
            'confirmation-shipping confirmation-cta';
        padding-top: var(--padding-medium);
        padding-bottom: var(--padding-large);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .confirmation__order__heading {
        font-size: var(--heading-small);
    }

    .confirmation-devider2 {
        display: none;
    }

    .confirmation__order {
        grid-area: confirmation-order;
    }

    .confirmation-devider1 {
        grid-area: confirmation-devider1;
    }

    .confirmation__order__shipping {
        grid-area: confirmation-shipping;
    }

    .confirmation__order__img1,
    .confirmation__order__img2 {
        max-width: 100%;
    }

    .confirmation__order__cta {
        padding: var(--padding-large);
        grid-area: confirmation-cta;
    }

    .confirmation__order__cta__heading {
        text-align: center;
        font-size: var(--heading-medium);
    }
}

@media (min-width: 1000px) {

    /* Confirmation page */
    .confirmation {
        grid-template-columns: auto 60%;
        padding: var(--padding-large);
        max-width: 1000px;
        margin: auto;
    }

    .confirmation__order__cta__btn {
        margin: 1em auto;
    }
}

@media (min-width: 1200px) {
    .confirmation {
        grid-template-columns: auto 60%;
        max-width: 1000px;
        margin: auto;
    }
}