.confirmation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin: var(--margin-small);
    gap: 1em;
}

.confirmation__order {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.confirmation__order__heading {
    flex: 1 1 100%;
    margin-bottom: 1em;
    font-size: var(--heading-small);
}

.confirmation__total-order-price-heading {
    font-size: var(--heading-small);
    font-weight: bold;
    margin: var(--margin-small) 0;
}

.confirmation__total-order-price {
    font-size: var(--heading-small);
    font-weight: bold;
    margin: var(--margin-small) 0;
    padding-left: var(--padding-xsmall);
}

.section-divider {
    border-bottom: 1px solid var(--devider-color);
    margin: var(--margin-small)
}

.confirmation__order__cta {
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .confirmation {
        display: grid;
        grid-template-columns: auto 45vw;
        column-gap: 2em;
        margin: var(--margin-large);
        padding-top: var(--padding-medium);
        padding-bottom: var(--padding-large);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .confirmation__order__heading {
        grid-column: 1 / span 3;
        grid-row: 1;
        margin-bottom: 1em;
        font-size: var(--heading-medium);
    }

    .confirmation__order__cta {
        padding: var(--padding-large);
    }

    .confirmation__order__cta__heading {
        text-align: center;
        font-size: var(--heading-small);
    }

    .confirmation-devider1 {
        display: none;
    }
}

@media (min-width: 1024px) {
    .confirmation {
        grid-template-columns: auto 45%;
        padding: var(--padding-large);
        max-width: 1000px;
        margin: auto;
    }

    .confirmation__order__cta {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 1200px) {
    .confirmation {
        grid-template-columns: auto 45%;
        max-width: 1000px;
        margin: auto;
    }
}