.presentation {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 8px;
    justify-content: center;
}

.presentation__heading {
    flex: 1 1 100%;
}


@media (min-width: 768px) {
    .presentation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .presentation__heading {
        grid-column: 1 / -1;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .presentation {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}