.presentation__products {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 8px;
    justify-content: center;
}

.presentation__heading {
    flex: 1 1 100%;
}

.presentation__sort-buttons {
    display: flex;
    grid-column: 1 / -1;
}

.cta-btn.presentation__sort-button {
    font-size: var(--body-small);
    padding: var(--padding-small);
    align-items: center;
}

@media (min-width: 768px) {
    .presentation__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .presentation__heading {
        grid-column: 1 / -1;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .presentation__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}